
BODY {
	background-color : #000000;
	color : White;
	background-image : url(images/bg.jpg);
}
td {
	font-family: Arial, Helvetica, sans-serif;
	color : White;
}
a:link {
	color: Silver;
	text-decoration: underline;
	background-color : transparent;
}
a:active {
	color: White;
	text-decoration: underline;
	background-color : transparent;
}
a:visited {
	color: Silver;
	text-decoration: underline;
	background-color : transparent;
}
h3 {
	color: #999933;
	font-family: Arial, Helvetica, sans-serif;
	background-color : transparent;
}

DIV.caption {
	color : #666666;
	font-size : x-small;
	background-color : transparent;
}

DIV.copyright {
	color : #000066;
	font-size : x-small;
	background-color : transparent;
}

DIV.news {
	color : #000066;
	background-color : transparent;
}

DIV.breadcrumb {
	color : Silver;
	background-color : transparent;
}
A.link2 {
	color : White;
	text-decoration : none;
}
