 body{
	background-color: #333333;
	color: white;
}
 :link {
	color: #157982;
	background-color : transparent;
}
 :visited {
	color: #0F565B;
	background-color : transparent;
}
 :active {
	color: #ffffff;
	background-color : transparent;
}
td {
	font-family: helvetica,arial,sans-serif;
	color : Black;
}
H3 {
	font-family : helvetica,arial,sans-serif;
	text-align : center;
	color: Black;
}
.title {
	font-family : "Albertus Medium",helvetica,arial,sans-serif;
	color : #000000;
}
.main{
	background-color : #A8A8A8;
	color: Black;
}
.caption {
	font-size : 75%;
	text-align : center;
	color : #cccccc;
}
.small {
	font-size : 75%;
}
.large {
	font-size : 125%;
}
.text{
	font-family: helvetica,arial,sans-serif;
	color : White;
}
.print{
	display : none;
}
#topLeft{
	position:absolute;
	left:0;
	top:0;
}
table.w502 {
	width : 502px;
	background-color : #b8714a;
	display : block;
}
table.w500 {
	width : 500px;
	background-color : #82350b;
	display : block;
}

.tableBack {
	background-image: url(images/persian_seal_tile.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
